*.fdb_latexmk
*.log
*.synctex.gz
*.aux
*.fls
*.bbl
*.bcf
*.blg
*.run.xml
*.out
dudads-chapters.code-workspace
.vscode/
.conda/
.git/
archive/
*.bbl-SAVE-ERROR
*.toc
courses.md
dl/dl-notebooks/FluidR3_GM.sf2
ignore/